.main-page {
  background-image: url("../images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height:100vh
}

.main-page-title {
  background-image: url("../images/title.png");
  background-size: contain;;
  background-repeat: no-repeat;
  background-position: center center;
  margin: auto;
  width: 320px;
  height: 20%;
  border-radius: 15px;
}

.main-page-arrows {
  background-image: url("../images/arrows.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  top: 375%;
  margin: auto;
  width: 200px;
  height: 150px;
}

canvas {
  padding: 0;
  margin: auto;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
